.modal {
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FEFEFE;
    border-radius: 10px;
}

.meet-us {
    text-align: center;
}

.modal-creators {
    margin: 20px;
    text-align: center;
    padding: 50px;
}

.modal-creator {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-bottom: 5%;
}