.title {
   font-size:30px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: left; 
}

.return-to {
   margin-top: 20px;
   margin-left: 10px
}

.return-a {
    font-size: 20px;
    text-decoration: none;
    color: black; 
    font-weight: bold;
    letter-spacing: 1px; 
}

.return-a:hover {
    color: black
}

.commentList-button-div {
    display: inline;
}

.my-threads-title {
    font-size: 16px;
    margin: auto !important; 
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #03e9f4;
    overflow: hidden;
    transition: .5s;
    margin: auto !important;
    letter-spacing: 2px; 
    float: right;
    background-color: #EFEFEF;
}

.my-threads-title:hover {
    color: black;           
}

#cmt-user {
    font-size: 14px;
    margin-top:15px;
}

#date{ 
    font-size:13px
}


#st-card {
    overflow:auto;
    width: 50%;
    margin: 0 auto;
    float: none;
    color: black;
    height: 800px;
    margin-top:100px;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.7);
    border-radius: 10px;



}

#st-card::before{
padding-bottom: 0;

}


#st-card .content {
    width:100%
}



.background-image{
 background-image: url(../src/img/comicopacity.png);
  background-position: center;
  background-size: no-repeat;
  height:1100px;
} 
  

.ui.comment {
    margin-bottom: 10px;
}


.commentlist{
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
    font-size: 20px;
}




button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin: auto !important;
    letter-spacing: 4px
}

button:hover {
    background: #03e9f4;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

button span {
    position: absolute;
    display: block;
  }

  button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }


button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }


  button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
   

  button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }



.mythread-dp{
    width: 350px;
    position:absolute;
    right:25%;
    margin-top:-965px;
}



/* ********* new media q- from scratch****** */

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #st-card {
        width: 50%;
    }
    .commentlist{
        font-size:20px;
    }
    #cmt-header {
        font-size: 25px;
    }
    #cmt-user{
        font-size: 15px;
    }
   
   
    .my-threads-title {
        font-size: 14px;
        padding: 8px 20px;
    }
  }

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

    #st-card {
        width: 50%;
    }
    .commentlist{
        font-size:20px;
    }
    #cmt-header {
        font-size: 25px;
    }
    #cmt-user{
        font-size: 15px;
    }
    
    .my-threads-title {
        font-size: 14px;
        padding: 8px 20px;
    }
   
}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    #st-card {
        width: 90%;
    }
    .commentlist{
        font-size:13px;
    }
    #cmt-header {
        font-size: 15px;
    }
    #cmt-user{
        font-size: 12px;
    }

    .my-threads-title {
        font-size: 14px;
        padding: 8px 20px;
    }

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
    #st-card {
        width: 90%;
    }
    .commentlist{
        font-size:13px;
    }
    #cmt-header {
        font-size: 15px;
    }
    #cmt-user{
        font-size: 12px;
    }

    .my-threads-title {
        font-size: 14px;
        padding: 8px 20px;
    }
}



/* ----------- iPad Pro 12.9" -----------  Small Laptop */ 

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
   
    #st-card {
        width: 70%;
        height:80%
    }
    .commentlist{
        font-size:20px;
    }
    #cmt-header {
        font-size: 25px;
    }
    #cmt-user{
        font-size: 15px;
    }

    .my-threads-title {
        font-size: 14px;
        padding: 8px 20px;
    }

    .background-image{
        height:1300px
    }
}
/* have questions about this / laptop and ipad are different sizes but same pixel and conflict */


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #st-card {
        width: 90%;
    }
    .commentlist{
        font-size:13px;
    }
    #cmt-header {
        font-size: 15px;
    }
    #cmt-user{
        font-size: 12px;
    }
   
    .my-threads-title {
        font-size: 14px;
        padding: 8px 20px;
    }
    
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    #st-card {
        width: 90%;
    }
    .commentlist{
        font-size:13px;
    }
    #cmt-header {
        font-size: 15px;
    }
    #cmt-user{
        font-size: 12px;
    }
    
    .my-threads-title {
        font-size: 14px;
        padding: 8px 20px;
    }
  }

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #st-card {
        width: 90%;
    }
    .commentlist{
        font-size:13px;
    }
    #cmt-header {
        font-size: 15px;
    }
    #cmt-user{
        font-size: 12px;
    }
  
    .my-threads-title {
        font-size: 14px;
        padding: 8px 20px;
    }
    
    }

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    
    #st-card {
        width: 90%;
    }
    .commentlist{
        font-size:13px;
    }
    #cmt-header {
        font-size: 15px;
    }
    #cmt-user{
        font-size: 12px;
    }
   
    .my-threads-title {
        font-size: 14px;
        padding: 8px 20px;
    }
}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (min-device-width: 320px) 
  and (max-device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    #st-card {
        width: 90%;
    }
    .commentlist{
        font-size:13px;
    }
    #cmt-header {
        font-size: 15px;
    }
    #cmt-user{
        font-size: 12px;
    }
   
    .my-threads-title {
        font-size: 14px;
        padding: 8px 20px;
    }
   
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (min-device-width: 360px) 
  and (max-device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    #st-card {
        width: 90%;
    }
    .commentlist{
        font-size:13px;
    }
    #cmt-header {
        font-size: 15px;
    }
    #cmt-user{
        font-size: 12px;
    }
   
    .my-threads-title {
        font-size: 14px;
        padding: 8px 20px;
    }
}

