.Arena {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 5rem; */
  justify-content: space-around;
  margin-left: 15%;
  /* margin-right: 15%; */
  
}

.battle-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  text-align: center;
  font-size: large;
  background-color: white;
  border-radius: 10px;
  border-color: #272133;
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* .HeroCard {
  color: red;
  width: 300px;
  height: 500px;
  padding: 10px;
  margin: 10px;
  border-style: solid;
} */

.RingCorner {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* .bigRedButton {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 5px;
  width: 100px;
  height: 100px;
  color: white;
  background-color: red;
  border-radius: 50%;
}

/* Card style */
#cardImage {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 0%;
}

.herocard {
  /* filter: drop-shadow(0 -0 0mm rgb(160, 0, 210)); */
  box-shadow: 0px 0px;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}
.herocard:hover {
  /* filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210));
   */
  box-shadow: 10px 10px;
  transform: scale(1.01);
  animation: shake 1s;
  animation-iteration-count: infinite;
}
#remove-padding {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: red;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 1px) rotate(1deg);
  }
  30% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.offsetMove {
  /* PLEASE FIX THIS THIS IS HARD CODED  BUT IT IS 2am*/
   transform: translate(0px, -520px);
}

/* Bars for the amount of stats out of 100 */
.container-bar {
  background-color: rgb(192, 192, 192);
  width: 80%;
  /* border-radius: 15px; */
}

.skill { 
  background-color: rgb(116, 194, 92); 
  color: white; 
  padding: 1%; 
  text-align: right; 
  font-size: 20px; 
  /* border-radius: 15px;  */
} 
.skill p { 
  opacity: 0%
}
/* Not stolen card css  https://codepen.io/blackellis/pen/jObGbeG*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: "Baloo Paaji 2", cursive;
}

.card {
  background-color: #222831;
  height: 42rem;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  margin-top: 60%;
  width: 200%;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
}

.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #eb196e;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
  padding: auto;
  overflow: visible !important;
 
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ff003c, #c648c8);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}

/* in case user isn't logged in... they can't play */
.notLoggedIn {
    font-size: 100%; 
    font-family: 'Comic Sans MS'; 
    color: black; 
    text-align: center;
    background-color: #A21126;
    padding: 50px; 
    margin-top: 10% !important;
}








/* ********* new media q- from scratch****** */

/* ----------- Desktop/Big Screens ----------- */

@media (min-width:1200px){
  .Arena {
    flex-wrap: wrap;    
    display: flex;
      justify-content: space-around;
      margin: 0 auto;
      margin-right: 5%;
    }
    .card {
      width: 150%;
    }
    .offsetMove {
       transform: translate(0px, -400px);
    }
    .RingCorner {
      display:flex;
      flex-direction: column;
    }
    .background-i {
      height: 1150px;
    }
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .Arena {
    flex-wrap: wrap;    
    display: flex;
      justify-content: space-around;
      margin: 0 auto;
      margin-right: 5%;
    }
    .card {
      width: 150%;
    }
    .offsetMove {
       transform: translate(0px, -400px);
    }
    .RingCorner {
      display:flex;
      flex-direction: column;
      
    }
  }



/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .Arena {
      flex-wrap: wrap;    
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      margin-right: 5%;
    }
    .card {
      width: 150%;
    }
    .offsetMove {
      /* PLEASE FIX THIS THIS IS HARD CODED  BUT IT IS 2am*/
       transform: translate(0px, -400px);
    }
    .RingCorner {
      display:flex;
      flex-direction: column;
      
    }
}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .Arena {
      flex-direction: column;
      display: block;
      justify-content: space-around;
      margin: 0 auto;
      margin-right: 25%;
    }
    .card {
      width: 150%;
    }
    .offsetMove {
       transform: translate(0px, -400px);
    }
    .RingCorner {
      display:flex;
      flex-direction: column;
      
    }

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .Arena {
      flex-direction: column;
      display: block;
      justify-content: space-around;
      margin: 0 auto;
      margin-right: 15%;
    }
    .card {
      width: 150%;
    }
    .offsetMove {
       transform: translate(0px, -400px);
    }
    .RingCorner {
      display:flex;
      flex-direction: column;
      
    }
}



/* ----------- iPad Pro 12.9" -----------  Small Laptop */ 

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Arena {
      flex-wrap: wrap;    
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      margin-right: 5%;
    }
    .card {
      width: 150%;
    }
    .offsetMove {
       transform: translate(0px, -400px);
    }
    .RingCorner {
      display:flex;
      flex-direction: column;
      
    }
}
/* have questions about this / laptop and ipad are different sizes but same pixel and conflict */


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .Arena {
      flex-direction: column;
      display: block;
      justify-content: space-around;
      margin: 0 auto;
      margin-right: 0;
    }
    .card {
      width: 250px;
      height: 350px;
    }
    .offsetMove {
       transform: translate(0px, -340px);
    }
    .RingCorner {
      display:flex;
      flex-direction: column;
      
    }
    .grid-container {
      display: none;
    }
    .btn {
      overflow: visible!important;
    };
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .Arena {
    flex-direction: column;
    display: block;
    justify-content: space-around;
    margin: 0 auto;
    margin-right: 25%;
  }
  .card {
    width: 150%;
  }
  .offsetMove {
     transform: translate(0px, -400px);
  }
  .RingCorner {
    display:flex;
    flex-direction: column;
    
  }
  .grid-container {
    display: none;
  }
  .btn {
    overflow: visible!important;
  };
  }

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .Arena {
      flex-direction: column;
      display: block;
      justify-content: space-around;
      margin: 0 auto;
      margin-right: 25%;
    }
    .card {
      width: 150%;
    }
    .offsetMove {
       transform: translate(0px, -400px);
    }
    .RingCorner {
      display:flex;
      flex-direction: column;
      
    }
    .grid-container {
      display: none;
    }
    .btn {
      overflow: visible!important;
    };
    }

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .Arena {
      flex-direction: column;
      display: block;
      justify-content: space-around;
      margin: 0 auto;
      margin-right: 25%;
    }
    .card {
      width: 150%;
    }
    .offsetMove {
       transform: translate(0px, -400px);
    }
    .RingCorner {
      display:flex;
      flex-direction: column;
      
    }
    .grid-container {
      display: none;
    }
    .btn {
      overflow: visible!important;
    };
}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (min-device-width: 320px) 
  and (max-device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    .Arena {
      flex-direction: column;
      display: block;
      justify-content: space-around;
      margin: 0 auto;
      margin-right: 25%;
    }
    .card {
      width: 150%;
    }
    .offsetMove {
       transform: translate(0px, -400px);
    }
    .RingCorner {
      display:flex;
      flex-direction: column;
      
    }
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (min-device-width: 360px) 
  and (max-device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    .Arena {
      flex-direction: column;
      display: block;
      justify-content: space-around;
      margin: 0 auto;
      margin-right: 25%;
    }
    .card {
      width: 150%;
    }
    .offsetMove {
       transform: translate(0px, -400px);
    }
    .RingCorner {
      display:flex;
      flex-direction: column;
      
    }
}

