.container {
    height: 100%;
    display: block;
    align-items: center;
    font-family: 'Comic Sans MS'; 
    color: black; 
    margin-top: 10%;
    background-color: #D7B88D;
    padding: 50px
  }

  .funnyloading {
    display: block; 
    text-align: center; 
  }
  
  .loading {
    display: flex;
    flex-direction: row;
   justify-content: center;

  }

  .loading__letter {
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 2px;
    color: black;
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  .loading__letter:nth-child(2) {
    animation-delay: .1s; 
  }
  .loading__letter:nth-child(3) {
    animation-delay: .2s;
  }
  .loading__letter:nth-child(4) {
    animation-delay: .3s; 
  }
  .loading__letter:nth-child(5) {
    animation-delay: .4s;
  }
  .loading__letter:nth-child(6) {
    animation-delay: .5s; 
  }
  .loading__letter:nth-child(7) {
    animation-delay: .6s;
  }
  .loading__letter:nth-child(8) {
    animation-delay: .8s;
  }
  .loading__letter:nth-child(9) {
    animation-delay: 1s;
  }
  .loading__letter:nth-child(10) {
    animation-delay: 1.2s;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0px)
    }
    40% {
      transform: translateY(-40px);
    }
    80%,
    100% {
      transform: translateY(0px);
    }
  }
  
  
  @media (max-width: 700px) {
    .loading__letter {
      font-size: 20px;
    }
  }
  
  @media (max-width: 340px) {
    .loading__letter {
      font-size: 15px;
    }
  }