.footer {
    height: 80px;
    filter:  saturate(1) contrast(1) brightness(1);
    background-image: url(https://images.assetsdelivery.com/compings_v2/studiostoks/studiostoks1605/studiostoks160500262.jpg);
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }

 .creators {
    margin: 30px 
 }

 .creator {
    margin: 50px;
    padding: auto; 
    text-decoration: none;
    color: black; 
    font-size: 20px;
    font-weight: bold; 
    transition-duration: 1s;
 }

 .creator:hover {
    color: white; 
    opacity: 80%;
 }

 .mobile-github {
    display: none; 
    cursor: pointer;
 }


  /* media queries */ 

  
@media only screen and (max-width: 1024px) {
    .footer {
        position: fixed;
        height: 50px;
    }
    .creators {
        display: none;
    }
    .mobile-github {
        display: block; 
        font-size: 30px; 
       justify-content: center;
       margin-top: 5px
    }
  }

  @media only screen and (max-width: 1270px) {
    .creator {
        margin: 40px;
        font-size: 16px;
    }
  }