
/* .leader_board_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  font-family: "Baloo Paaji 2", cursive;
  text-align: center;
} */

.votes_bar{
  width:100%
}

/* Bars for the amount of stats out of 100 */
.container-bar {
  background-color: rgb(192, 192, 192);
  width: 80%;
  height: 1rem;
  /* border-radius: 15px; */
}

.skill { 
  background-color: rgb(116, 194, 92); 
  color: white; 
  padding: 1%; 
  text-align: right; 
  font-size: 20px; 
  height: 1rem
  /* border-radius: 15px;  */
} 
.skill p { 
  opacity: 0%
}



.scorecard {
  background-color: #222831;
  height: 80px;
  border-radius: 10px;
  display: flex;
  padding-left: 1rem;
  align-items: center;
  
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  margin-top: 10px;
  width: 100%;
  /* padding-top: 5px;
  padding-bottom: 8px; */
}

.scorecard__name {
  width: 300px;
  font-size: 1.5em;
}


.scorecard__score {
  font-size: 1rem;
}

#leaderboard-card {
  width:60%;
  overflow:scroll;
  height:30%;
  margin-top:20px;
  overflow:auto;
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

#leaderboard-card-content{
  width:100%;
  float: none;
  margin: 0 auto;
  padding:40px;
}

.leader-title{
  text-align:center;
  top:50px;
  font-size: 50px;
  font-weight: 900;
}

/* ****** media queries transform translate ***********************/

@media (max-width: 500px) {
  .scorecard {
    flex-wrap: wrap;
 }
}





/* ********* new media q- from scratch****** */

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

#leaderboard-card{
  width:900px;
  overflow:scroll;
  height:800px;
  margin-top:20px;
  overflow:auto;
}
#leaderboard-card-content{
  width:100%;
  float: none;
  margin: 0 auto;
  padding:40px;
}
.leader-title{
  text-align:center;
  top:50px;
  font-size: 50px;
  font-weight: 900;
}
  }

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    #leaderboard-card{
      width:60%;
      overflow:scroll;
      height:30%;
      margin-top:20px;
      overflow:auto;
    }
    #leaderboard-card-content{
      width:100%;
      float: none;
      margin: 0 auto;
      padding:40px;
    }
    .leader-title{
      text-align:center;
      top:50px;
      font-size: 50px;
      font-weight: 900;
    }
      }
   



/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    #leaderboard-card{
      width:60%;
      overflow:scroll;
      height:30%;
      margin-top:20px;
      overflow:auto;
    }
    #leaderboard-card-content{
      width:100%;
      float: none;
      margin: 0 auto;
      padding:40px;
    }
    .leader-title{
      text-align:center;
      top:50px;
      font-size: 50px;
      font-weight: 900;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #leaderboard-card{
      width:60%;
      overflow:scroll;
      height:30%;
      margin-top:20px;
      overflow:auto;
    }
    #leaderboard-card-content{
      width:100%;
      float: none;
      margin: 0 auto;
      padding:40px;
    }
    .leader-title{
      text-align:center;
      top:50px;
      font-size: 50px;
      font-weight: 900;
    }
}



/* ----------- iPad Pro 12.9" -----------  Small Laptop */ 

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #leaderboard-card{
      width: 900px;
      overflow:scroll;
      height:800%;
      margin-top:20px;
      overflow:auto;
    }
    #leaderboard-card-content{
      width:100%;
      float: none;
      margin: 0 auto;
      padding:40px;
    }
    .leader-title{
      text-align:center;
      top:50px;
      font-size: 50px;
      font-weight: 900;
    }
}
/* have questions about this / laptop and ipad are different sizes but same pixel and conflict */


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #leaderboard-card{
      width:250px;
      overflow:scroll;
      height:700px;
      /* margin-top:20px; */
      overflow:auto;
    }
    #leaderboard-card-content{
      width:280px;
      float: none;
      margin: 0 auto;
      padding:40px;
      padding-left: 6px;
    }
    .leader-title{
      text-align:center;
      top:30px;
      font-size: 30px;
      font-weight: 900;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    #leaderboard-card{
      width:300px;
      overflow:scroll;
      height:800px;
      margin-top:20px;
      overflow:auto;
    }
    #leaderboard-card-content{
      width: 300px;
      float: none;
      margin: 0 auto;
      padding:15px;
      padding-left:15px;
    }
    .leader-title{
      text-align:center;
      top:30px;
      font-size: 30px;
      font-weight: 900;
    }
  }

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #leaderboard-card{
      width:600px;
      overflow:scroll;
      height:700px;
      /* margin-top:20px; */
      overflow:auto;
   
    }
    #leaderboard-card-content{
      width: 300px;
      float: none;
      margin: 0 auto;
      padding:15px;
      padding-left:15px;
    }
    .leader-title{
      text-align:center;
      top:10px;
      font-size: 20px;
      font-weight: 900;
    }
  }

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #leaderboard-card{
      width:300px;
      overflow:scroll;
      height:700px;
      margin-top:20px;
      overflow:auto;
    }
    #leaderboard-card-content{
      width:100%;
      float: none;
      margin: 0 auto;
      padding:10px;
    }

    .leader-title{
      text-align:center;
      top:20px;
      font-size: 30px;
      font-weight: 800;
      margin-top: 50px;
    }
    
}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (min-device-width: 320px) 
  and (max-device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    #leaderboard-card{
      width:60%;
      overflow:scroll;
      height:30%;
      margin-top:20px;
      overflow:auto;
    }
    #leaderboard-card-content{
      width:100%;
      float: none;
      margin: 0 auto;
      padding:40px;
    }
    .leader-title{
      text-align:center;
      top:50px;
      font-size: 50px;
      font-weight: 900;
    }
   
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (min-device-width: 360px) 
  and (max-device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
    #leaderboard-card{
      width:300px;
      overflow:scroll;
      height:700px;
      margin-top:20px;
      overflow:auto;
    }
    #leaderboard-card-content{
      width:500px;
      float: none;
      margin: 0 auto;
      /* padding:10px; */
    }

    .leader-title{
      text-align:center;
      top:20px;
      font-size: 20px;
      font-weight: 800;
      margin-top: 20px;
    }
    
}

