

#login-id , #signup-id, #battle-id, #home-id, #discuss-id, #logout, #donate-id{ 
    font-size: 20px;
    font-weight: 900;
    
}

.menu {
  /* background-color:#45c0db; */
  /* background-color:#2195cb; */
  height: 100px;
  /* background-image: radial-gradient(ellipse, #0000, #0007); */
  filter:  saturate(1) contrast(2) brightness(.9);
background-image: url(https://images.assetsdelivery.com/compings_v2/studiostoks/studiostoks1605/studiostoks160500262.jpg);
}






 .navBtn  {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border:none;
  }
   
  .navBtn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
   
  .navBtn span {
    position: absolute;
    display: block;
  }
   
  .header button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  } 


  /* @media (max-width:700px) {
    #login-id , #signup-id, #battle-id, #home-id, #discuss-id, #logout, #donate-id{ 
      font-size: 12px;
      text-align: center;
      margin: 0 auto
      
  }
  } */

  @media (min-width:320px) and (max-width:700px){
    #login-id , #signup-id, #battle-id, #home-id, #discuss-id, #logout, #donate-id{ 
      font-size: 10px;
      text-align: center;
      margin: 0 auto;
  }
  .menu {
    height:40px;
  }
}